///////////////// WALLE IMG /////////////////
.imageContainer {
  height: 100vh;
  width: 100%;
  top: 10vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .difusor {
    height: 50px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8519782913165266) 21%,
      rgba(0, 0, 0, 0.03125) 100%
    );
    position: absolute;
    bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .imageContainer {
    width: 600px;
  }
  .difusor{
    display: none;
  }
  .movieContainer {
    width: 600px;
  }
}
