.mainImageText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 15%;
  color: azure;
  font-family: $libreBaskerville;
  align-items: flex-start;
  .imgTitle {
    font-size: 3rem;
  }
  .imgP {
    font-size: 150%;
    width: 75%;

    font-family: $oswald;
  }
}
@media screen and (max-width: 500px) {
  .mainImageText {
    width: 70%;
  }
}
