.login-fullContainer{
    max-width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-imgContainer{
        width: 50%;
        height: 100%;
        position: relative;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .login-loginContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .login{
            border: solid 1px white;
            height: 450px;
            width: 50%;
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 1px -1px 15px $orange;
            
            img{
                width: 100px;
                height: 100px;
                
                object-fit: cover;
                
            }
            form{
            display: flex;
            
            flex-direction: column;
            gap: 50px;
            input{
                width: 140%;
                height: 30px;
                margin-left: -20%;
                
                border-radius: 10px;
                outline: none;
            }
            button{
                background-color: white;
            }
        }
        }
        
        
    }
}