.navbarContainer {
  background-color: $black;
  color: white;
  height: 10vh;
  width: 100%;
  font-size: 85%;
  display: flex;
  padding-left: 5%;
  justify-content: space-between;
  align-items: center;
  font-family: $roboto;
  
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  .menuButton{
    position: absolute;
    right: -100%;
  }
  .title-nav-container {
    display: flex;
    cursor: pointer;
    .plusTitle {
      padding-right: 10px;
      text-decoration: none;
      font-size: 200%;
      color: #fff;
    }
  }
}
.navbar-lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  height: 100%;
  padding-right: 30px;
  .first-navbar-list {
    display: flex;
    align-items: center;
  }
  .second-navbar-list {
    display: flex;
    gap: 20px;
  }
  .navbar-line {
    width: 2px;
    height: 50%;
    background-color: gray;
    text-align: center;
  }
  
   .enlaces {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    &:hover {
      color: $orange;
    }
  }
  .navbarPremium {
    color: $orange;
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  
}
@media screen and (max-width: 650px) {
  .enlaces, .navbarPremium {
    display: none;
  }
  .menuButton{
    position: relative;
    left: 90%;
    cursor: pointer;
  }
  
  .navbar-line {
    display: none;
  }
}
